#main {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
html, body, #main {
    height:100%;
}
body{
    padding: 1em;
    background-color: slategray;
    font-family: "Segoe UI";
}

#main >:not(#glContainer){
    flex-grow: 0;
    margin-bottom: 0.5em;
}
#glContainer {
    flex-grow: 1;
    position: relative;
}
#no_path{
    color: red;
    margin-left: 1em;
}
div.label:hover{
    color:aqua;
}
.text_label{
    font-weight: bold;
}
p>video, p>img{
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}
#explanation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#explanation > ul{
    align-self: baseline;
}
a{
    color: black;
}
a:hover{
    color: brown;
}