body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
html,body {
    height:100%;
}

body >:not(#glContainer){
    margin: 1em;
    flex-grow: 0;
    margin-bottom: 0.5em;
}
#glContainer {
    flex-grow: 1;
    position: relative;
}
